<header>
    <h1>Smart Warehouse Inventory System</h1>
</header>

<main>
    <section>
        <h2>Home</h2>

        {{!-- Links to /register route and /login route --}}
    </section>
</main>

<footer>
    <p>&copy; 2025 Smart Warehouse Inventory System</p>
</footer>