<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/swisLogo.png">
    <link rel="stylesheet" href="/css/{{{cssFile}}}" />
    <title>{{{title}}}</title>
</head>
<body>
    <aside class="sidebar">
    <div class="logo">
      <img src="/images/swisLogo.png" alt="SWIS Logo">
      <h2>Dashboard</h2>
    </div>
    <nav class="menu">
      <a href="/dashboard" class="active">Dashboard</a>
      <a href="/inventory">Inventory</a>
      <a href="/reports">Reports</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Log Out</a>
    </nav>
  </aside>
    {{{body}}}
</body>

</html>