<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/swisLogo.png">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,600&display=swap" />
    <title>{{title}}</title>
    {{{block "styles"}}}
</head>

<body>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {{{block "scripts"}}}
</body>

</html>