  <div class="dashboard">
  <main class="main">
    <section class="grid-container">
      
      <div class="card">
        <h3>Price Overview</h3>
        <div class="stats-row">
          <div><strong>$ {{totalPrice}}</strong><br>Total Price</div>
        </div>
      </div>

      <div class="card">
        <h3>Inventory Summary</h3>
        <div class="stats-row">
          <div>Number of Products<br><strong>{{productCount}}</strong></div>
          <div><strong>{{totalQuantity}}</strong><br>Quantity in Hand</div>
        </div>
      </div>

      <div class="card">
        <h3>Product Summary</h3>
        <div class="stats-row">
          <div>Number of Categories<br><strong>{{categoryCount}}</strong></div>
        </div>
      </div>
    </section>
  </main>
</div>