{{!--

registration handelbars

--}}

<h1>Register</h1>

{{#if error}}
    <p id="error">{{error}}</p>
{{else}}
    <p id="error" hidden></p>
{{/if}}

<form id="signupForm" method="POST" action="/register">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName">

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName">

    <label for="email">Email:</label>
    <input type="text" id="email" name="email">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password">

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword">

    <label for="profilePicture">Profile Picture:</label>
    <input type="text" id="profilePicture" name="profilePicture">

    <label for="phone">Phone Number:</label>
    <input type="text" id="phone" name="phone">

    <fieldset>
        <legend>Address</legend>
        
        <label for="street">Street:</label>
        <input type="text" id="street" name="street">
        
        <label for="city">City:</label>
        <input type="text" id="city" name="city">
        
        <label for="state">State:</label>
        <input type="text" id="state" name="state">
        
        <label for="zip">Zip Code:</label>
        <input type="text" id="zip" name="zip">
    </fieldset>

    <label for="roleid">Role ID:</label>
    <input type="text" id="roleid" name="roleid">

    <label for="roleName">Role Name:</label>
    <input type="text" id="roleName" name="roleName">


    <button id="submitButton" name="submitButton" type="submit">Register</button>
</form>
<p><a href="/login">Already have an account? Click here to sign-in</a></p>
<p><a href="/">Back to home</a></p>