<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{{title}}}</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <div>
        <img src="/images/swisLogo.png" alt="SWIS Logo"/>
        <h1>Smart Warehouse Inventory System</h1>
      </div>
    </div>
    <div class="right-panel">
      <div class="form-container">
        <img src="/images/swisLogo.png" alt="SWIS Logo"/>
        <form action="/register" method="POST">
        <h2>Create an account</h2>
        <label for="firstName">First Name
          <input type="text" placeholder="Enter your first name" required>
        </label>
        <label for="lastName">Last Name
          <input type="text" placeholder="Enter your last name" required>
        </label>
        <label for="username">Username
          <input type="text" placeholder="Enter your username" required>
        </label>
        <label for="email">Email
          <input type="email" placeholder="Enter your email" required>
        </label>
        <label for="password">Password
          <input type="password" placeholder="Create a password" required>
        </label>
          <button class="btn" type="submit">Get started</button>
        </form>
        <div class="login">
          Already have an account? <a href="/login">Log in</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
